@model UserInterface.Models.InvoiceAgeingSummary

<div   class="col-md-6 ">
    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-yellow-active" style="height:80px" >
            <h5 class="widget-user-username" style="font-size:20px">Customer Invoices Due </h5>
            <h5 class="widget-user-desc">Number of invoices on Due  </h5>
        </div>
       
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-4 border-right border-bottom">
                    <div class="description-block dashLink" onclick="OpenCustExpeditionReport('ThisWeek')">
                        <h5 class="description-header">@Model.CustInvAgeSummary.ThisWeek</h5>
                        <span class="description-text">Coming Week</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right border-bottom">
                    <div class="description-block dashLink" onclick="OpenCustExpeditionReport('Today')">
                        <h5 class="description-header">@Model.CustInvAgeSummary.Todays</h5>
                        <span class="description-text">Today</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-bottom">
                    <div class="description-block dashLink" onclick="OpenCustExpeditionReport('1To30')">
                        <h5 class="description-header">@Model.CustInvAgeSummary.Count1To30</h5>
                        <span class="description-text">1-30 Days</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                
                 
            </div>
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block dashLink" onclick="OpenCustExpeditionReport('31To60')">
                        <h5 class="description-header">@Model.CustInvAgeSummary.Count31To60</h5>
                        <span class="description-text">31-60 Days</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                    <div class="description-block dashLink" onclick="OpenCustExpeditionReport('61To90')">
                        <h5 class="description-header">@Model.CustInvAgeSummary.Count61To90</h5>
                        <span class="description-text">61-90 Days</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                    <div class="description-block dashLink" onclick="OpenCustExpeditionReport('90Above')">
                        <h5 class="description-header">@Model.CustInvAgeSummary.Count91Above  </h5>
                        <span class="description-text">91 Above</span>
                    </div>
                    <!-- /.description-block -->
                </div>
            </div>
                <!-- /.row -->
                <div class="clearfix">

                    <a href="../Report/CustomerInvoiceRegister/" class="label bg-yellow">View Details</a>


                </div>
            </div>
    </div>
</div>

<div class="col-md-6 ">
    <div class="box box-widget widget-user" >
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-green-active" style="height:80px">
            <h5 class="widget-user-username" style="font-size:20px">Supplier Invoices Due </h5>
            <h5 class="widget-user-desc">Number of invoices on Due  </h5>
        </div>

        <div class="box-footer">
            <div class="row">
                <div class="col-sm-4 border-right border-bottom">
                    <div class="description-block dashLink" onclick="OpenSuppExpeditionReport('ThisWeek')">
                        <h5 class="description-header">@Model.SuppInvAgeSummary.ThisWeek  </h5>
                        <span class="description-text">Coming Week </span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right border-bottom">
                    <div class="description-block dashLink" onclick="OpenSuppExpeditionReport('Today')">
                        <h5 class="description-header">@Model.SuppInvAgeSummary.Todays</h5>
                        <span class="description-text">Today</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-bottom">
                    <div class="description-block dashLink" onclick="OpenSuppExpeditionReport('1To30')">
                        <h5 class="description-header">@Model.SuppInvAgeSummary.Count1To30</h5>
                        <span class="description-text">1-30 Days</span>
                    </div>
                    <!-- /.description-block -->
                </div>


            </div>
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block dashLink" onclick="OpenSuppExpeditionReport('31To60')">
                        <h5 class="description-header">@Model.SuppInvAgeSummary.Count31To60</h5>
                        <span class="description-text">31-60 Days</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                    <div class="description-block dashLink" onclick="OpenSuppExpeditionReport('61To90')">
                        <h5 class="description-header">@Model.SuppInvAgeSummary.Count61To90</h5>
                        <span class="description-text">61-90 Days</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                    <div class="description-block dashLink" onclick="OpenSuppExpeditionReport('90Above')">
                        <h5 class="description-header">@Model.SuppInvAgeSummary.Count91Above  </h5>
                        <span class="description-text">91 Above</span>
                    </div>
                    <!-- /.description-block -->
                </div>
            </div>
            <div class="clearfix">

                <a href="../Report/SupplierInvoiceRegister/" class="label bg-green">View Details</a>


            </div>
            </div>
    </div>
</div>
