@using UserInterface.App_Start
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.path= "Home / " + ViewBag.Title;
}
<div style="width:100%;">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div> 
<div class="col-md-12">
    &nbsp;
</div>
<div class="col-md-12">
    &nbsp;
</div>
<div class="col-md-12">
    
    @{
        var data2 = new { Company = "All" };
        @Html.Action("OutstandingSummary", "Dashboard", data2);
    }
</div>
<div class="col-md-12">
    &nbsp;
</div>
<div class="col-md-12 ">
    @{
        var data3 = new { Company = "All" };
        @Html.Action("RecentCustomerInvoice", "Dashboard", data3);
    }

    @{
        var data4 = new { Company = "All" };
        @Html.Action("RecentCustomerPayments", "Dashboard", data4);
    }

</div>

 

<div class="col-md-12 ">
    @{
        var data7 = new { Company = "All" };
        @Html.Action("RecentOtherIncome", "Dashboard", data7);
    }

    @{
        var data8 = new { Company = "All" };
        @Html.Action("RecentOtherExpense", "Dashboard", data8);
    }

</div>

<div class="col-md-12 ">
    @{
        var data9 = new { Company = "All" };
        @Html.Action("RecentSupplierInvoice", "Dashboard", data9);
    }

    @{
        var data10 = new { Company = "All" };
        @Html.Action("RecentSupplierPayments", "Dashboard", data10);
    }

</div>

@Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jquery")