@model UserInterface.Models.AccountHeadGroupDetailReportViewModel
@using UserInterface.App_Start
@{
    ViewBag.Title = "Monthly Report Detail";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section styles {
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatable")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatableButtons")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/select2")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatableFixedHeader")

    <style>
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 20px !important;
        }

        table.dataTable tr.odd {
            background-color: rgba(148, 78, 132, 0.16);
        }

        table.dataTable tr.even {
            background-color: white;
        }
    </style>
}

<div style="width:100%;">
    <ol class="breadcrumb">
        <li><a href=@Url.Action("Index","Report")><i class="fa fa-print"></i> Reports</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>



<div class="preloader" id="prelaoder">
    <div class="col-md-12">
        <div class="col-md-12">Loading </div>
        <div class="col-md-12" style="margin-left:5%;margin-top:-3%;"><img src="~/Content/images/loading.gif" class="preloaderImg" /></div>
    </div>

</div>
<div class="col-md-12">
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
</div>
<div class="form-horizontal" id="main">
    <div class="col-md-9" style="margin-top:10px;">
        <div class="col-md-3">
            @Html.LabelFor(model => model.ExpenseType, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @{
                    List<SelectListItem> TypeList = new List<SelectListItem>();
                    TypeList.Add(new SelectListItem
                    { Text = "ALL", Value = "ALL" });
                    TypeList.Add(new SelectListItem
                    { Text = "Other Expense", Value = "OE" });
                    TypeList.Add(new SelectListItem
                    { Text = "Purchase Details", Value = "SUP" });
                    TypeList.Add(new SelectListItem
                    { Text = "Other Income", Value = "OI" });
                    TypeList.Add(new SelectListItem
                    { Text = "Customer Invoice", Value = "CUS" });
                }
                @Html.DropDownListFor(model => model.ExpenseType, TypeList, new { @class = "form-control BlockEnter",   value = -1, style = "padding:4px 12px;", @id = "ExpenseType" })
                @Html.ValidationMessageFor(model => model.ExpenseType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3" style="display:none">
            @Html.LabelFor(model => model.Employee, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.Employee, Model.EmployeeList, new { @class = "form-control BlockEnter", value = -1, @style = "width:100%!imporant", @id = "Employee" })
                @Html.ValidationMessageFor(model => model.Employee, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="col-md-3" style="min-height:25px">
        @{
            var data = new { ActionType = "ListWithReset" };
            @Html.Action("ChangeButtonStyle", "Report", data);
        }
    </div>
    <div class="col-md-9">
        <div class="col-md-12"></div>
        <div class="col-md-3">
            @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.TextBox("fromdate", "", new { @class = "form-control datepicker HeaderBox BlockEnter col-md-3", @Value = ViewBag.fromdate })


            </div>
        </div>
        <div class="col-md-3">
            @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.TextBox("todate", "", new { @class = "form-control datepicker HeaderBox BlockEnter col-md-3", @Value = ViewBag.todate })
            </div>
        </div>
        <div class="col-md-3">
            @Html.LabelFor(model => model.CompanyCode, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.CompanyCode, Model.CompanyList, new { @class = "form-control BlockEnter",   value = -1, @style = "width:100%!imporant", @id = "Company" })
                @Html.ValidationMessageFor(model => model.CompanyCode, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="col-md-3">
            @Html.LabelFor(model => model.GroupName, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.GroupName, Model.accountHeadGroupList, new { @class = "form-control BlockEnter", value = -1, @style = "width:100%!imporant", @id = "GroupName",  })
                @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-8">
            @Html.LabelFor(model => model.Search, htmlAttributes: new { @class = "control-label", style = "visibility:hidden" })
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" id="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" style="height:28px" onclick="AdvanceSearchContent()"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12">
                <div class="col-md-10">
                    <a class="btn btn-primary" style="right:-750px;margin-top:20px" id="btnadvancesearch" onclick="AdvanceSearchContent()">Apply</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3" style="min-height:25px">
        <div id="otherexpensetotal" class="col-md-12 box-header figuresummary rounded" style="margin-top:-3%;visibility:hidden">
         
            <div class="col-md-12">
                <div class="col-md-6 text-left" style="font-size:small">Income/ ReversedAmount:</div>
                <div class="col-md-6 text-right"><small><span id="otherexpensereversed" style="font-size:small;font-weight:bold"></span></small></div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6 text-left" style="font-size:small">Expense/ PaidAmount:</div>
                <div class="col-md-6 text-right"><small><span id="otherexpenseamount" style="font-size:small;font-weight:bold"></span></small></div>
            </div>
            @*<div class="col-md-12">
                <div class="col-md-6 text-left" style="font-size:small">Total:</div>
                <div class="col-md-6 text-right"><small><span id="otherexpensereversedtotal" style="font-size:small;font-weight:bold"></span></small></div>
            </div>*@
        </div>
    </div>

</div>

<div class="row">
    &nbsp;
</div>
<div class="row tableContainer">
    <div class="col-md-12" id="AHContainer">
        <table id="accountHeadGroupDetailTable" class="table stripe" cellspacing="0" width="100%">
            <thead>
                <tr class="text-center TableHead">
                    <th>ID</th>
                    <th>Document No</th>
                    <th>Account Group</th>
                    <th>Expense Type</th>
                    <th>Company</th>
                    <th>Beneficiary</th>
                    <th>Payment Date</th>                   
                    <th>Income/Reversed Amount</th>
                    <th>Expense/Paid Amount</th>
                   
                </tr>
            </thead>
        </table>
    </div>
    @*<div class="col-md-12" id="STContainer">
            <table id="otherExpenseSummarySTTable" class="table stripe" cellspacing="0" width="100%">
                <thead>
                    <tr class="text-center TableHead">
                        <th>Origin Company</th>
                        <th>Sub Type Desc</th>
                        <th>Account Head</th>
                        <th>Amount</th>
                    </tr>
                </thead>
            </table>
        </div>*@
</div>











@section Scripts {
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/datatable")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jsZip")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/datatableButtons")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/AccountHeadGroupDetailReport")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/select2")

}





