

@model UserInterface.Models.OtherIncomeSummaryReportViewModel
@using UserInterface.App_Start
@{
    ViewBag.Title = "Other Income Summary";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section styles {
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatable")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/DataTables/css/datatableButtons")
    @Styles.RenderFormat(SiteKeys.StyleVersion, "~/Content/css/select2")
    <style>
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 20px !important;
        }

        table.dataTable tr.odd {
            background-color: rgba(148, 78, 132, 0.16);
        }

        table.dataTable tr.even {
            background-color: white;
        }
    </style>
}

<div style="width:100%;">
    <ol class="breadcrumb">
        <li><a href=@Url.Action("Index","Report")><i class="fa fa-print"></i> Reports</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</div>



<div class="preloader" id="prelaoder">
    <div class="col-md-12">
        <div class="col-md-12">Loading </div>
        <div class="col-md-12" style="margin-left:5%;margin-top:-3%;"><img src="~/Content/images/loading.gif" class="preloaderImg" /></div>
    </div>

</div>
<div class="col-md-12">
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
</div>
<div class="form-horizontal" id="main">

    <div class="col-md-9" style="margin-top:10px;">
        <div class="col-md-3">
            @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.TextBox("fromdate", "", new { @class = "form-control datepicker HeaderBox BlockEnter col-md-3", @onchange = "OnChangeCall()", @Value = ViewBag.fromdate })


            </div>
        </div>
        <div class="col-md-3">
            @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.TextBox("todate", "", new { @class = "form-control datepicker HeaderBox BlockEnter col-md-3", @onchange = "OnChangeCall()", @Value = ViewBag.todate })
            </div>
        </div>

        <div class="col-md-3">
            @Html.LabelFor(model => model.CompanyCode, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.CompanyCode, Model.CompanyList, new { @class = "form-control BlockEnter", @onchange = "OnChangeCall()", value = -1, style = "padding:4px 12px;", @id = "CompanyCode" })
                @Html.ValidationMessageFor(model => model.CompanyCode, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="col-md-3">
            @Html.LabelFor(model => model.AccountHead, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.AccountHead, Model.AccountHeadList, new { @class = "form-control BlockEnter", value = -1, style = "padding:4px 12px;", @id = "AccountCode", @onchange = "OnChangeCall()" })
                @Html.ValidationMessageFor(model => model.AccountHead, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6">
            @Html.LabelFor(model => model.Search, htmlAttributes: new { @class = "control-label", style = "visibility:hidden" })
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" id="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" style="height:28px" onclick="OnChangeCall()"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-3" style="min-height:25px">
        @{
            var data = new { ActionType = "ListWithReset" };
            @Html.Action("ChangeButtonStyle", "Report", data);
        }
    </div>
    <div class="row summaryboxes">

        <div class="clearfix visible-sm-block">

        </div>

    </div>
    <div class="form-group col-md-12">
        <div class="col-md-12 text-right">
            <div style="font-size:medium">Total: <small><span id="otherincomeamount" style="font-size:medium;font-weight:bold"> 0.00</span></small></div>
        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row tableContainer">
        <div class="col-md-12" id="AHContainer">
            <table id="otherIncomeSummaryAHTable" class="table stripe" cellspacing="0" width="100%">
                <thead>
                    <tr class="text-center TableHead">

                        <th>Account Head</th>
                        <th>Amount</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</div>


<div id="myNav" class="overlay">
    <div class="overlay-content">
        <div class="row" id="OverlayHeader">
            <div class="col-md-6" style="text-align:left">
                <span id="lblDetailsHead" class="SCHeader"></span>
            </div>
            <div class="col-md-6" id="btnPatchAdd" style="min-height:25px; padding-right:25px;">

                @{
                    var data1 = new { ActionType = "CustDetail" };
                    @Html.Action("ChangeButtonStyle", "Report", data1);
                }
            </div>
        </div>
        <br />
        <div class="row tableContainer EntryForms" style="height:550px">
            <div class="col-md-12">
                <div class="col-md-12">
                    <table id="otherIncomeDetailsAHTable" class="table stripe" cellspacing="0" width="100%">
                        <thead>
                            <tr class="text-center TableHead">
                                <th>Company</th>
                                <th>Date</th>
                                <th>Account Head</th>
                                <th>Payment Mode</th>
                                <th>Payment Reference</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Origin Company</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/datatable")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jsZip")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/datatableButtons")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/select2")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/OtherIncomeSummaryReport")
    

}








